    ww*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    font-style: arial transparent;
    font-size: 10em;
    background-image: linear-gradient(to right,blue,orange,yellow,pink,red,violet,indigo);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 30s linear infinite;
}
@keyframes move{
    to{
        background-position: 4000vh;
    }
}
.container{
    width: 80%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
   margin-left: 110px;
}
.item{
    flex: 1 1 28%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all .5s ease;
    overflow: hidden;
}

img:hover{
    transform: scale(1.2);
    filter: brightness(70%);
}
