* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(184, 199, 212);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

.parent {
    width: 300px;
    background-color: rgb(215, 223, 229);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;

}

child {
    padding: 20px;
}

img {
    width: 70px;
    border-radius: 10px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}